/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { AttioCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  GetV2ObjectsObjectNotFoundError,
  GetV2ObjectsObjectNotFoundError$inboundSchema,
  MissingValueError,
  MissingValueError$inboundSchema,
} from "../models/errors/getv2objectsobject.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  PutV2ObjectsObjectRecordsRecordIdRequest,
  PutV2ObjectsObjectRecordsRecordIdRequest$outboundSchema,
  PutV2ObjectsObjectRecordsRecordIdResponse,
  PutV2ObjectsObjectRecordsRecordIdResponse$inboundSchema,
} from "../models/operations/putv2objectsobjectrecordsrecordid.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Update a record (overwrite multiselect values)
 *
 * @remarks
 * Use this endpoint to update people, companies, and other records by `record_id`. If the update payload includes multiselect attributes, the values supplied will overwrite/remove the list of values that already exist (if any). Use the `PATCH` endpoint to append multiselect values without removing those that already exist.
 *
 * Required scopes: `record_permission:read-write`, `object_configuration:read`.
 */
export function recordsUpdate(
  client: AttioCore,
  request: PutV2ObjectsObjectRecordsRecordIdRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    PutV2ObjectsObjectRecordsRecordIdResponse,
    | MissingValueError
    | GetV2ObjectsObjectNotFoundError
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: AttioCore,
  request: PutV2ObjectsObjectRecordsRecordIdRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      PutV2ObjectsObjectRecordsRecordIdResponse,
      | MissingValueError
      | GetV2ObjectsObjectNotFoundError
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      PutV2ObjectsObjectRecordsRecordIdRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.RequestBody, { explode: true });

  const pathParams = {
    object: encodeSimple("object", payload.object, {
      explode: false,
      charEncoding: "percent",
    }),
    record_id: encodeSimple("record_id", payload.record_id, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/v2/objects/{object}/records/{record_id}")(
    pathParams,
  );

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.apiKey);
  const securityInput = secConfig == null ? {} : { apiKey: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "put_/v2/objects/{object}/records/{record_id}",
    oAuth2Scopes: [],

    resolvedSecurity: requestSecurity,

    securitySource: client._options.apiKey,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "PUT",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "404", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    PutV2ObjectsObjectRecordsRecordIdResponse,
    | MissingValueError
    | GetV2ObjectsObjectNotFoundError
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    M.json(200, PutV2ObjectsObjectRecordsRecordIdResponse$inboundSchema),
    M.jsonErr(400, MissingValueError$inboundSchema),
    M.jsonErr(404, GetV2ObjectsObjectNotFoundError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
